body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

#colorButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 5px;
  background-color: #3498db; 
  color: white;
}
